@{
    ViewData["Title"] = "Confirmação de Compra";
}

<div class="text-center mt-5">
    <h1>Compra Confirmada!</h1>
    <p class="lead">Sua compra foi efetuada com sucesso. Obrigado por escolher a Farmly!</p>
    <a href="@Url.Action("Index", "Produto")" class="btn btn-primary">Voltar aos Produtos</a>
</div>
